<div *ngIf="magicSchools.length > 0; else loading" class="card-container">
  <div *ngFor="let school of magicSchools" class="card">
    <div class="card-inner">
      <div class="card-header">
        <div class=label>
          <h3>{{ school.name }}</h3>
        </div>
      </div>
      <div class="card-body">
        <h4>{{ school.name }}</h4>
        <p><strong>Description:</strong> {{ school.desc }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading magic schools...</p>
</ng-template>
